<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="content-type">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/js/gijgo.min.js" type="text/javascript"></script>
	<link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/css/gijgo.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.js"></script>

	<title>市面物流配送填單系統</title>
	<!-- <script type="text/javascript" src="js/free.js"></script> -->
	<!-- <script type="text/javascript" src="controller_kuo.js"></script> -->
	<script>
		var myApp = angular.module('deliveyform',[]);
		
		myApp.filter('unique', function() {
			return function(input, key) {
				var unique = {};
				var uniqueList = [];
				for(var i = 0; i < input.length; i++){
					if(typeof unique[input[i][key]] == "undefined"){
						unique[input[i][key]] = "";
						uniqueList.push(input[i]);
					}
				}
				return uniqueList;
			};
		});
		
		myApp.controller('formCtrl', function($scope,$http) {
			//運費lookup table
			$scope.rawdata = [
				{id: 1, city: '高雄市', district: '前金區', car_type: '3.5t', fare: '480'},
				{id: 2, city: '高雄市', district: '前金區', car_type: '6.8t', fare: '900'},
				{id: 3, city: '高雄市', district: '前鎮區', car_type: '3.5t', fare: '500'},
				{id: 4, city: '高雄市', district: '前鎮區', car_type: '6.8t', fare: '1050'},
				{id: 5, city: '高雄市', district: '新興區', car_type: '3.5t', fare: '480'},
				{id: 6, city: '高雄市', district: '新興區', car_type: '6.8t', fare: '900'},
				{id: 7, city: '高雄市', district: '苓雅區', car_type: '3.5t', fare: '480'},
				{id: 8, city: '高雄市', district: '苓雅區', car_type: '6.8t', fare: '900'},
				{id: 9, city: '高雄市', district: '鹽埕區', car_type: '3.5t', fare: '480'},
				{id: 10, city: '高雄市', district: '鹽埕區', car_type: '6.8t', fare: '900'},
				{id: 11, city: '高雄市', district: '三民區', car_type: '3.5t', fare: '600'},
				{id: 12, city: '高雄市', district: '三民區', car_type: '6.8t', fare: '1050'},
				{id: 13, city: '高雄市', district: '鼓山區', car_type: '3.5t', fare: '600'},
				{id: 14, city: '高雄市', district: '鼓山區', car_type: '6.8t', fare: '1050'},
				{id: 15, city: '高雄市', district: '旗津區', car_type: '3.5t', fare: '900'},
				{id: 16, city: '高雄市', district: '旗津區', car_type: '6.8t', fare: '1350'},
				{id: 17, city: '高雄市', district: '小港區', car_type: '3.5t', fare: '700'},
				{id: 18, city: '高雄市', district: '小港區', car_type: '6.8t', fare: '1200'},
				{id: 19, city: '高雄市', district: '左營區', car_type: '3.5t', fare: '600'},
				{id: 20, city: '高雄市', district: '左營區', car_type: '6.8t', fare: '1050'},
				{id: 21, city: '高雄市', district: '楠梓區', car_type: '3.5t', fare: '700'},
				{id: 22, city: '高雄市', district: '楠梓區', car_type: '6.8t', fare: '1200'},
				{id: 23, city: '高雄市', district: '仁武區', car_type: '3.5t', fare: '750'},
				{id: 24, city: '高雄市', district: '仁武區', car_type: '6.8t', fare: '1250'},
				{id: 25, city: '高雄市', district: '鳥松區', car_type: '3.5t', fare: '700'},
				{id: 26, city: '高雄市', district: '鳥松區', car_type: '6.8t', fare: '1200'},
				{id: 27, city: '高雄市', district: '大樹區', car_type: '3.5t', fare: '900'},
				{id: 28, city: '高雄市', district: '大樹區', car_type: '6.8t', fare: '1350'},
				{id: 29, city: '高雄市', district: '大寮區', car_type: '3.5t', fare: '800'},
				{id: 30, city: '高雄市', district: '大寮區', car_type: '6.8t', fare: '1350'},
				{id: 31, city: '高雄市', district: '林園區', car_type: '3.5t', fare: '900'},
				{id: 32, city: '高雄市', district: '林園區', car_type: '6.8t', fare: '1500'},
				{id: 33, city: '高雄市', district: '橋頭區', car_type: '3.5t', fare: '900'},
				{id: 34, city: '高雄市', district: '橋頭區', car_type: '6.8t', fare: '1500'},
				{id: 35, city: '高雄市', district: '梓官區', car_type: '3.5t', fare: '900'},
				{id: 36, city: '高雄市', district: '梓官區', car_type: '6.8t', fare: '1500'},
				{id: 37, city: '高雄市', district: '彌陀區', car_type: '3.5t', fare: '900'},
				{id: 38, city: '高雄市', district: '彌陀區', car_type: '6.8t', fare: '1500'},
				{id: 41, city: '高雄市', district: '永安區', car_type: '3.5t', fare: '1100'},
				{id: 42, city: '高雄市', district: '永安區', car_type: '6.8t', fare: '1700'},
				{id: 43, city: '高雄市', district: '大社區', car_type: '3.5t', fare: '900'},
				{id: 44, city: '高雄市', district: '大社區', car_type: '6.8t', fare: '1500'},
				{id: 45, city: '高雄市', district: '鳳山區', car_type: '3.5t', fare: '600'},
				{id: 46, city: '高雄市', district: '鳳山區', car_type: '6.8t', fare: '1050'},
				{id: 47, city: '高雄市', district: '岡山區', car_type: '3.5t', fare: '900'},
				{id: 48, city: '高雄市', district: '岡山區', car_type: '6.8t', fare: '1500'},
				{id: 49, city: '高雄市', district: '燕巢區', car_type: '3.5t', fare: '900'},
				{id: 50, city: '高雄市', district: '燕巢區', car_type: '6.8t', fare: '1500'},
				{id: 51, city: '高雄市', district: '旗山區', car_type: '3.5t', fare: '1300'},
				{id: 52, city: '高雄市', district: '旗山區', car_type: '6.8t', fare: '1800'},
				{id: 53, city: '高雄市', district: '美濃區', car_type: '3.5t', fare: '1400'},
				{id: 54, city: '高雄市', district: '美濃區', car_type: '6.8t', fare: '2100'},
				{id: 55, city: '高雄市', district: '甲仙區', car_type: '3.5t', fare: '2300'},
				{id: 56, city: '高雄市', district: '甲仙區', car_type: '6.8t', fare: '3450'},
				{id: 57, city: '高雄市', district: '杉林區', car_type: '3.5t', fare: '1800'},
				{id: 58, city: '高雄市', district: '杉林區', car_type: '6.8t', fare: '2700'},
				{id: 59, city: '高雄市', district: '那瑪夏區', car_type: '3.5t', fare: '3000'},
				{id: 60, city: '高雄市', district: '那瑪夏區', car_type: '6.8t', fare: '4500'},
				{id: 61, city: '高雄市', district: '茂林區', car_type: '3.5t', fare: '3000'},
				{id: 62, city: '高雄市', district: '茂林區', car_type: '6.8t', fare: '4500'},
				{id: 63, city: '高雄市', district: '六龜區', car_type: '3.5t', fare: '2000'},
				{id: 64, city: '高雄市', district: '六龜區', car_type: '6.8t', fare: '3000'},
				{id: 65, city: '高雄市', district: '桃源區', car_type: '3.5t', fare: '3000'},
				{id: 66, city: '高雄市', district: '桃源區', car_type: '6.8t', fare: '4500'},
				{id: 67, city: '高雄市', district: '內門區', car_type: '3.5t', fare: '1600'},
				{id: 68, city: '高雄市', district: '內門區', car_type: '6.8t', fare: '2400'},
				{id: 69, city: '屏東縣市', district: '屏東市', car_type: '3.5t', fare: '1100'},
				{id: 70, city: '屏東縣市', district: '屏東市', car_type: '6.8t', fare: '1650'},
				{id: 71, city: '屏東縣市', district: '九如鄉', car_type: '3.5t', fare: '1300'},
				{id: 72, city: '屏東縣市', district: '九如鄉', car_type: '6.8t', fare: '2400'},
				{id: 73, city: '屏東縣市', district: '長治鄉', car_type: '3.5t', fare: '1600'},
				{id: 74, city: '屏東縣市', district: '長治鄉', car_type: '6.8t', fare: '2400'},
				{id: 75, city: '屏東縣市', district: '麟洛鄉', car_type: '3.5t', fare: '1300'},
				{id: 76, city: '屏東縣市', district: '麟洛鄉', car_type: '6.8t', fare: '1800'},
				{id: 77, city: '屏東縣市', district: '萬丹鄉', car_type: '3.5t', fare: '1400'},
				{id: 78, city: '屏東縣市', district: '萬丹鄉', car_type: '6.8t', fare: '1950'},
				{id: 79, city: '屏東縣市', district: '竹田鄉', car_type: '3.5t', fare: '1500'},
				{id: 80, city: '屏東縣市', district: '竹田鄉', car_type: '6.8t', fare: '2100'},
				{id: 81, city: '屏東縣市', district: '內埔鄉', car_type: '3.5t', fare: '1600'},
				{id: 82, city: '屏東縣市', district: '內埔鄉', car_type: '6.8t', fare: '2200'},
				{id: 83, city: '屏東縣市', district: '鹽埔鄉', car_type: '3.5t', fare: '1600'},
				{id: 84, city: '屏東縣市', district: '鹽埔鄉', car_type: '6.8t', fare: '2200'},
				{id: 85, city: '屏東縣市', district: '里港鄉', car_type: '3.5t', fare: '1700'},
				{id: 86, city: '屏東縣市', district: '里港鄉', car_type: '6.8t', fare: '2350'},
				{id: 87, city: '屏東縣市', district: '高樹鄉', car_type: '3.5t', fare: '1900'},
				{id: 88, city: '屏東縣市', district: '高樹鄉', car_type: '6.8t', fare: '2650'},
				{id: 89, city: '屏東縣市', district: '三地門鄉', car_type: '3.5t', fare: '2100'},
				{id: 90, city: '屏東縣市', district: '三地門鄉', car_type: '6.8t', fare: '2900'},
				{id: 91, city: '屏東縣市', district: '霧台鄉', car_type: '3.5t', fare: '2600'},
				{id: 92, city: '屏東縣市', district: '霧台鄉', car_type: '6.8t', fare: '3600'},
				{id: 93, city: '屏東縣市', district: '瑪家鄉', car_type: '3.5t', fare: '2500'},
				{id: 94, city: '屏東縣市', district: '瑪家鄉', car_type: '6.8t', fare: '3500'},
				{id: 95, city: '屏東縣市', district: '泰武鄉', car_type: '3.5t', fare: '2600'},
				{id: 96, city: '屏東縣市', district: '泰武鄉', car_type: '6.8t', fare: '3600'},
				{id: 97, city: '屏東縣市', district: '來義鄉', car_type: '3.5t', fare: '2600'},
				{id: 98, city: '屏東縣市', district: '來義鄉', car_type: '6.8t', fare: '3600'},
				{id: 99, city: '屏東縣市', district: '萬巒鄉', car_type: '3.5t', fare: '1700'},
				{id: 100, city: '屏東縣市', district: '萬巒鄉', car_type: '6.8t', fare: '2400'},
				{id: 101, city: '屏東縣市', district: '潮州鎮', car_type: '3.5t', fare: '1700'},
				{id: 102, city: '屏東縣市', district: '潮州鎮', car_type: '6.8t', fare: '2400'},
				{id: 103, city: '屏東縣市', district: '崁頂鄉', car_type: '3.5t', fare: '1400'},
				{id: 104, city: '屏東縣市', district: '崁頂鄉', car_type: '6.8t', fare: '1950'},
				{id: 105, city: '屏東縣市', district: '新園鄉', car_type: '3.5t', fare: '1200'},
				{id: 106, city: '屏東縣市', district: '新園鄉', car_type: '6.8t', fare: '1800'},
				{id: 107, city: '屏東縣市', district: '東港鎮', car_type: '3.5t', fare: '1300'},
				{id: 108, city: '屏東縣市', district: '東港鎮', car_type: '6.8t', fare: '2000'},
				{id: 109, city: '屏東縣市', district: '南州鄉', car_type: '3.5t', fare: '1600'},
				{id: 110, city: '屏東縣市', district: '南州鄉', car_type: '6.8t', fare: '2300'},
				{id: 111, city: '屏東縣市', district: '新碑鄉', car_type: '3.5t', fare: '1800'},
				{id: 112, city: '屏東縣市', district: '新碑鄉', car_type: '6.8t', fare: '2600'},
				{id: 113, city: '屏東縣市', district: '林邊鄉', car_type: '3.5t', fare: '1400'},
				{id: 114, city: '屏東縣市', district: '林邊鄉', car_type: '6.8t', fare: '2200'},
				{id: 115, city: '屏東縣市', district: '枋寮鄉', car_type: '3.5t', fare: '1900'},
				{id: 116, city: '屏東縣市', district: '枋寮鄉', car_type: '6.8t', fare: '2500'},
				{id: 117, city: '屏東縣市', district: '春日鄉', car_type: '3.5t', fare: '2000'},
				{id: 118, city: '屏東縣市', district: '春日鄉', car_type: '6.8t', fare: '2800'},
				{id: 119, city: '屏東縣市', district: '枋山鄉', car_type: '3.5t', fare: '2100'},
				{id: 120, city: '屏東縣市', district: '枋山鄉', car_type: '6.8t', fare: '2900'},
				{id: 121, city: '屏東縣市', district: '獅子鄉', car_type: '3.5t', fare: '2300'},
				{id: 122, city: '屏東縣市', district: '獅子鄉', car_type: '6.8t', fare: '3200'},
				{id: 123, city: '屏東縣市', district: '牡丹鄉', car_type: '3.5t', fare: '3300'},
				{id: 124, city: '屏東縣市', district: '牡丹鄉', car_type: '6.8t', fare: '4600'},
				{id: 125, city: '屏東縣市', district: '車城鄉', car_type: '3.5t', fare: '2700'},
				{id: 126, city: '屏東縣市', district: '車城鄉', car_type: '6.8t', fare: '3750'},
				{id: 127, city: '屏東縣市', district: '恆春鎮', car_type: '3.5t', fare: '3000'},
				{id: 128, city: '屏東縣市', district: '恆春鎮', car_type: '6.8t', fare: '4200'},
				{id: 129, city: '屏東縣市', district: '滿洲鄉', car_type: '3.5t', fare: '3500'},
				{id: 130, city: '屏東縣市', district: '滿洲鄉', car_type: '6.8t', fare: '4900'},
				{id: 131, city: '屏東縣市', district: '佳冬鄉', car_type: '3.5t', fare: '1900'},
				{id: 132, city: '屏東縣市', district: '佳冬鄉', car_type: '6.8t', fare: '2650'}
			];
			//出貨單schema
			$scope.order = [
				{
					business_type:'',       //出貨單類型
					delivery_date:'',       //出貨日期
					client_name:'',         //客戶名稱
					order_ID:'',            //出貨單號
					ships:'',               //送貨單 (見下方ships)
					delivery_fee:'',        //運費
					comment:''              //出貨單備註
				}
			];
			//送貨單schema
			$scope.order.ships = [{
				order_ID:'',
				ship_ID:'',         //送貨單號
				ship_deleted:'',    //此單狀態 (''=正常,'1'=刪除)
				ship_datetime:'',   //送達時間
				contact_info:'',    //客戶連絡電話 or 地址
				ship_area:'',       //縣市
				ship_district:'',   //區域
				driver:'',          //駕駛
				car_type:'',        //車型
				car_ID:'',          //車號
				is_elevator:'',     //是否有搭電梯 (+100)
				floors_byhand:'',   //手搬樓層數 (1樓+100)
				amount_collect:'',  //代收貨款 (現金0.2%手續費，支票無)
				comment:''          //備註
			}];
			//送達時間
			$scope.arrive_time = ['不指定時間','早上6點','早上7點','早上8點','早上9點','早上10點','早上11點','中午12點','下午1點','下午2點','下午3點','下午4點','下午5點','晚上6點','晚上7點','晚上8點','晚上9點','晚上10點'];
			//根據縣市拉出對應的鄉鎮區域
			$scope.update = function (selectedValue) {
				var arrayDistrict=new Array();
				$scope.rawdata.forEach(function(x){
					if(x.city == selectedValue) {
						if(x.id %2 != 1){
							arrayDistrict.push(x.district);
						}                
					}
				})
				$scope.selCity = selectedValue;
				$scope.level2 = arrayDistrict;
			};
			//刪除一筆送貨單
			$scope.deleteShip = function (ship) {
				ship.ship_deleted = "1";
			};
			$scope.addNewShip = function(){
				var new_ship = { 
					ship_ID:'',         //送貨單號
					ship_deleted: '',   //此單狀態 (''=正常,'1'=刪除)
					ship_datetime:'',   //送達時間
					contact_info:'',    //客戶連絡電話 or 地址
					ship_area:'',       //縣市
					ship_district:'',   //區域
					driver:'',          //駕駛
					car_type:'',        //車型
					car_ID:'',          //車號
					is_elevator:'',     //是否有搭電梯 (+100)
					floors_byhand:'',   //手搬樓層數 (1樓+100)
					amount_collect:'',  //代收貨款
					comment:''          //備註
				};
				$scope.order.ships.push(new_ship)
			};
			$scope.customFilter = function(obj){
				if(obj.ship_deleted.length == 0)
				{
					return obj;
				}
			}
			$scope.validateNcal = function(order){
		
				var errormsg = "";
				var basic_fee = new Array();
				var floor =  0;
				var elevator = 0;
				var comment = "";
				order.ships.forEach(function(x){
					if(x.ship_deleted == "1"){
						return;
					}
					else{
						if (x.ship_ID == null || x.ship_ID.length == 0){
							if(errormsg.length > 0){errormsg += "\n";}
							errormsg += '請確認送貨單號';
						}
						if(x.ship_district == null ||  x.ship_district.length == 0) {
							if(errormsg.length > 0){errormsg += "\n";}
							errormsg += "請選擇送貨區域";
						}
						if (x.car_type == null || x.car_type.length == 0){
							if(errormsg.length > 0){errormsg += "\n";}
							errormsg += '請選擇車型';
						}
						if (x.ship_datetime == null || x.ship_datetime.length == 0){
							if(errormsg.length > 0){errormsg += "\n";}
							errormsg += '請選擇指定時間';
						}
						else if (x.ship_datetime !== "不指定時間"){ 
							if(comment.length > 0){comment += '\n'}
							comment += '送貨單:'+x.ship_ID+'指定於'+ x.ship_datetime+'送達。';
						}
						if (x.contact_info == null || x.contact_info.length == 0){
							if(errormsg.length > 0){errormsg += "\n";}
							errormsg += '請確認聯絡資訊';
						}      
						if (x.is_elevator == null || x.is_elevator.length == 0){
							if(errormsg.length > 0){errormsg += "\n";}
							errormsg += '請選擇有無電梯';
						} 
						else if(x.is_elevator == "有"){ 
							elevator = elevator + 1; 
						}
						if (x.floors_byhand == null || x.floors_byhand.length == 0){
							if(errormsg.length > 0){errormsg += "\n";}
							errormsg += '請確認手搬樓層數';
						} 
						else if(x.floors_byhand > 0){ 
							floor = floor + parseInt(x.floors_byhand); 
						}
						if (x.amount_collect == null || x.amount_collect.length == 0){
							if(errormsg.length > 0){errormsg += "\n";}
							errormsg += '請確認預收現金';
						}
						else if(x.amount_collect > 0){
							if(comment.length > 0){comment += '\n'}
							comment += '送貨單:'+x.ship_ID+'有預收款'+x.amount_collect+'元。';
						}
						$scope.rawdata.forEach(function(y){
							if(y.district == x.ship_district && y.car_type == x.car_type) {
								basic_fee.push(parseInt(y.fare));
							}
						})
				   }
				})
				if(errormsg.length == 0 ){
					order.delivery_fee = Math.max.apply(null, basic_fee) + 100 * (order.ships.length - 1 + floor + elevator)
					$('#fee_result').val(order.delivery_fee);
					$('#commentText').val(comment);
					return true;
				}
				else{
					$('#fee_result').val("錯誤，請檢查內容");
					$('#commentText').val(comment);
					return false;
				}
			}
			
			$scope.submitForm = function() {
				console.log('123 ')
				var business_type = "郭元益";
				var delivery_date = $scope.order.delivery_date;
				var client_name = "";
				var order_ID = $scope.order.order_ID;
				var delivery_fee = $scope.order.delivery_fee;
				var comment = $('#commentText').val();
		
				$scope.order.ships.forEach(function(x){
					if(x.ship_deleted == "1" ){
						return;
					}
					var shipdata = {
						// business_type: business_type,
						// delivery_date: delivery_date,
						// client_name: x.client_name,
						// order_ID: x.order_ID,
						// delivery_fee: x.delivery_fee,
						// comment: comment,
						// ship_ID: x.ship_ID,
						// ship_area: x.ship_area,
						// ship_district: x.ship_district,
						// car_type: x.car_type,
						// ship_datetime: x.ship_datetime,
						// contact_info: x.contact_info,
						// is_elevator: x.is_elevator,
						// floors_byhand: x.floors_byhand,
						// amount_collect: x.amount_collect
						"ship_ID":x.ship_ID,
						"contact_info":x.contact_info,
						"ship_area":x.ship_area,
						"ship_district":x.ship_district,
						"driver":"Lee",
						"car_type":x.car_type,
						"car_ID":"ABC123",
						"is_elevator": x.is_elevator,
						"floors_byhand":x.floors_byhand,
						"amount_collect":x.amount_collect,
						"comment":comment
					}
					// this.submitForm(shipdata);
					console.log(shipdata)
					
					try{
						// Googlesheet test
						// var TYPE1_SUBMIT_FORM_API = "https://script.google.com/macros/s/AKfycbzomZj2EcfrQPU1bZsGLjlwINtcPSJ9fxk4ZA2NYy8mb1rH3iw/exec";
						
						// Change the following to match correct API url
						var TYPE1_SUBMIT_FORM_API = "http://localhost:5000/shippment"
						$http({
							url:TYPE1_SUBMIT_FORM_API, 
							method: 'POST',
							data: shipdata,
							headers:{'Content-Type': 'application/json', 'Access-Control-Allow-Origin': 'localhost:5000'}
						})
						.then(function(response) {
							if (response.status === 200) {
		
							} 
							else {
								return alert('網路連線問題，請再試一次 \n'+ response.data);
							}
						});
					}
					catch(err){
						return alert('系統出現問題，請重新整理網頁後再試一次 \n'+err);
					}
				});
		
				alert('新增成功');
		
				//window.location.reload();
				
			}
		});
		
	</script>
</head>
<body ng-app="deliveyform" ng-controller="formCtrl">
	<!-- 上方導覽列 -->
	<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">駿騰物流填單系統</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
				<a class="nav-link" href="#">首頁 <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					市面物流出貨單
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">郭元益</a>
					<a class="dropdown-item" href="#">聯華</a>
					<a class="dropdown-item" href="#">旺家</a>
					<a class="dropdown-item" href="#">立信</a>
					<a class="dropdown-item" href="#">信可</a>
					<a class="dropdown-item" href="#">森永</a>
					<a class="dropdown-item" href="#">掬水軒</a>
					<a class="dropdown-item" href="#">華元</a>
					<a class="dropdown-item" href="#">芮程</a>
					<a class="dropdown-item" href="#">中祥</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					南北物流
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">聯華</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
					</div>
				</li>
				<li class="nav-item">
				<a class="nav-link disabled" href="#">Disabled</a>
				</li>
			</ul>
		</div>
	</nav>
	<!-- 下方填單頁 -->
	<div class="jumbotron text-center">
		<h1>郭元益出貨單</h1>
		<p>請依次填入需要的資訊</p> 
	</div>
	<div class="container">
		<form id="order_form" ng-submit="submitForm()">
			<!--1.配送日期-->
			<div class="row">
				<label for="datepicker">1.配送日期</label>
				<div class="form-group col-sm">
					<input id="datepicker" width="276" ng-model="order.delivery_date" required />
					<script type="text/javascript">
						$(function () {
							$('#datepicker').datepicker({ 
								uiLibrary: 'bootstrap4',
								modal: true,
								format: 'yyyy/mm/dd',
							});
						});
					</script>		
				</div>
			</div>
			<!--2.出貨單編號-->
			<div class = "row">
				<label for="delivery_order">2.出貨單編號</label>
				<div class="form-group col-sm">
					<input type="text" class="form-control" id="delivery_order" aria-describedby="deliveryHelp" placeholder="請輸入此批次的單號" ng-model="order.order_ID"  required />
					<!---<small id="deliveryHelp" class="form-text text-muted">請正確輸入單號</small>	-->			
					
				</div>
			</div>
			<!--3.送貨單內容-->
			<div class ="row">
				<label for="ship_order">3.送貨細節</label>
				<div class="form-group">
					<table id="ship_table" class="table order-list">
						<thead>
							<tr>
								<td></td>
								<td></td>
								<td>車型</td>
								<td>送貨區域</td>
								<td>聯絡人</td>
								<td>電梯</td>
								<td>手搬樓層(層)</td>
								<td>預收現金(元)</td>
							</tr>
						</thead>
						<tbody ng-repeat="ship in order.ships | filter: customFilter">		
							<tr>
                                <td>
									<input type="text" class="form-control" ng-model="ship.ship_ID" placeholder="送貨單號" required/>
								</td>
                                <td>
									<select 
									ng-model="ship.ship_datetime" 
									ng-options="arrive_time as arrive_time for arrive_time in arrive_time" 
									class="form-control" 
									style="width:auto;" 
									ng-init="ship.ship_datetime='不指定時間'"
									required/> 
									</select>
								</td>
                                <td>
									<select 
									ng-model="ship.car_type" 
									ng-options="dd.car_type as dd.car_type for dd in rawdata | unique:'car_type'" 
									class="form-control"
									style="width:auto;" 
									required/>
									</select>
								</td>
                                <td>
									<select 
									ng-model="ship.ship_area" 
									ng-options="dd.city as dd.city for dd in rawdata | unique:'city'" 
									ng-change="update(ship.ship_area)" 
									class="form-control" 
									style="width:auto;" 
									id="ship_city" 
									required>
									</select>
									<select 
									ng-model="ship.ship_district" 
									ng-options="selCity for selCity in level2"  
									class="form-control" 
									style="width:auto;" 
									id="ship_district" 
									required>
									</select>
								</td>
                                <td>
									<input type="text" class="form-control" ng-model="ship.contact_info" placeholder="聯絡人資訊" required/>
								</td>
                                <td>
									<select class="form-control" id="is_elevator" ng-model="ship.is_elevator" style="width:auto;" ng-init="ship.is_elevator='無'" required>
										<option>無</option>
										<option>有</option>
									</select>
								</td>
                                <td>
									<input type="number" class="form-control" ng-model="ship.floors_byhand" ng-init="ship.floors_byhand=0" required/>
								</td>
                                <td>
									<input type="number" class="form-control" ng-model="ship.amount_collect" ng-init="ship.amount_collect=0" required/>
								</td>
								<td>
									<input type="button" class="ibtnDel btn btn-md btn-danger form-control"  ng-click="deleteShip(ship)" value="刪除">
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="6" style="text-align: left;">
									<input type="button" class="btn btn-lg btn-block " id="addrow" value="新增點數" ng-click="addNewShip()"/>
								</td>
								<td style="text-align: right;">
									<input type="button" class="btn btn-lg btn-info " id="cal_fee" value="運費試算" ng-model="order" ng-click="validateNcal(order)" />
								</td>
								<td colspan="2" >
									<input type="button" class="btn btn-lg btn-light form-control" id="fee_result" ng-model="order.delivery_fee" readonly/>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
			<!-- 4.備註 -->
			<div class="form-group">
					<label for="order_comment">4.備註</label>
					<textarea class="form-control" id="commentText" rows="5"></textarea>
			</div>
			<button type="submit" class="btn btn-primary" ng-model="order" ng-disabled="order_form.$invalid">Submit</button>
			
		</form>
	</div>
</body></html>